button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 16;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 
.odd {
    background-color: #ffffff;
}

.even {
    background-color: #f1f1f1;
}
.cardStyle {
    background-color: #3489db;
    color: #fff;
}
.cardStyle .title {
    text-align: left;
    margin-left: 5;
    font-size: 16;
    margin: 5;
}
.cardStyle .content{
    font-size: 12;
}
.cardStyle .subtitle{
    font: bold;
    font-size: 14; 
}
.cardStyle .btn{
    font-size: 14;
    margin: 10;
}